* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /*border: 0;*/
}

.hidden {
    display: none;
}

.quiz{
    background: linear-gradient(45deg, rgb(110, 124, 227) 14%, rgb(177, 241, 251) 97%);
    padding: 20px 0;
}
.quiz__container{
    max-width: 1170px;
    margin: auto;
}
.question{
    max-width: 900px;
    margin: auto;
    padding: 20px 20px;
    background-color: aliceblue;
    border-radius: 25px
}

.question__title{
    max-width: 200px;
    margin: auto auto 30px;
}

.question__title p{
    text-align: center;
}

.question__text{
    max-width: 400px;
    margin: auto auto 30px;
}

.question__text p{
    text-align: center;
}

.question__message{
    display: block;
    max-width: 400px;
    text-align: center;
    margin: auto auto 30px;
}

.answer-list{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto auto 30px;

}

.answer-button{
    display: block;
    margin: auto;
}

.score-wrap{
    display: flex;
    justify-content: space-between;
}

.correct-answer {
    background-color: green;
    color: white;
}

.wrong-answer {
    background-color: red;
    color: white;
}
.active {
    background-color: cornflowerblue;
    color: white;
}



.restart-btn{

}

