@import url('fonts.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
}

/* Переменные для цветов */
:root {
    --main-bg-color: cornflowerblue;
    --main-font-family: "Yanone Kaffeesatz", sans-serif;
    --main-font-weight: 400;
    --active-bg-color: cornflowerblue;
    --active-font-color: white;
    --disabled-bg-color: #dddddd;
    --disabled-font-color: #aaaaaa;
    --correct-bg-color: mediumseagreen;
    --wrong-bg-color: orangered;
}

/* Основные стили для body */
body {
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
}

/* Скрытие и отображение элементов */
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}

/* Основные стили для викторины */
.quiz {
    background: linear-gradient(45deg, rgb(110, 124, 227) 14%, rgb(177, 241, 251) 97%);
    padding: 20px 0;
}
.quiz__container {
    max-width: 1200px;
    margin: 0 auto ;
}

/* Стили для вопроса */
.question-wrapper {
    max-width: 90%;
    min-height: calc(100vh - 100px);
    margin: auto;
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.85);
    border-radius: 25px;
}
.question {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.question__title,
.question__text {
    max-width: 550px;
    margin: auto auto 30px;
    text-align: center;
}
.question__title p {
    font-size: 28px;
}
.question__text p {
    font-size: 56px;
}
.question__message {
    display: block;
    max-width: 400px;
    text-align: center;
    margin: auto auto 20px;
    font-size: 30px;
}

.answer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 35px;
}
.answer-list li {
    margin-bottom: 15px;
}
.answer-list li:last-child {
    margin-bottom: 0;
}

/* Общие стили для кнопок */
.button {
    padding: 10px 25px;
    border-radius: 25px;
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
    font-size: 18px;
    cursor: pointer;
}
.button--answer {
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    font-size: 24px;
}
.button--active {
    background-color: var(--active-bg-color);
    color: var(--active-font-color);
}
.button--disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-font-color);
    cursor: not-allowed;
}

/* Стили для ответов */
.answer {
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
    font-size: 32px;
}
.correct-answer {
    border: 2px solid var(--correct-bg-color);
    background-color: var(--correct-bg-color);
    color: var(--active-font-color);
}
.wrong-answer{
    border: 2px solid var(--wrong-bg-color);
    background-color: var(--wrong-bg-color);
    color: var(--active-font-color);
}
.active {
    background-color: var(--active-bg-color);
    color: var(--active-font-color);
}

.answer-button {
    display: block;
    padding: 10px 25px;
    border-radius: 25px;
    margin: auto auto 20px;
    background-color: var(--main-bg-color);
    color: var(--active-font-color);
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
    font-size: 32px;
    cursor: pointer;
}
.answer-button:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-font-color);
    cursor: not-allowed;
}
.restart-button {
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    background-color: transparent;
    color: var(--main-bg-color);
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
    font-size: 32px;
    cursor: pointer;
}
.next-button {
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--main-bg-color);
    color: var(--active-font-color);
    font-family: var(--main-font-family), serif;
    font-weight: var(--main-font-weight);
    font-size: 32px;
    cursor: pointer;
}
.next-button:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-font-color);
    cursor: not-allowed;
}


.score-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px){
    .question__title p {
        font-size: 24px;
    }
    .question__text p {
        font-size: 36px;
    }
    .answer, .button, .question__message{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .question__title p {
        font-size: 24px;
    }
    .question__text p {
        font-size: 40px;
    }
    .answer, .answer-button, .next-button, .restart-button, .question__message{
        font-size: 24px;
    }
}

@media (max-width: 480px) {

    .question__title p {
        font-size: 24px;
    }
    .question__text p {
        font-size: 28px;
    }
    .answer, .answer-button, .next-button, .restart-button, .question__message{
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .question {
        width: 100%;
    }
    .question__title p {
        font-size: 20px;
    }
    .question__text p {
        font-size: 24px;
    }
    .answer, .answer-button, .next-button, .restart-button{
        font-size: 16px;
    }
    .question__message{
        font-size: 12px;
    }
}
