/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*    border: 0;*/
/*}*/

.hidden {
    display: none;
}

.quiz{

}
.quiz__container{

}
.question{

}

.question__title{

}

.question__title p{

}

.question__text{

}

.question__text p{

}
.answer-list{

}

/* Пример стилей для правильного и неправильного ответа */
.correct-answer {
    background-color: green;
    color: white;
}

.wrong-answer {
    background-color: red;
    color: white;
}

.answer-button{

}

.score-wrap {

}

.score-wrap p{

}


.restart-btn{

}

